.btn-close{
    box-shadow: none !important;
}

.profile-pic {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.pro-pic-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
